<!DOCTYPE html>
<html>
<head>
  <title>IndiFruit</title>
  <link rel="stylesheet" href="/css/normalize.css"/>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <!-- your own minifed css -->
</head>
<body>
<div id="content"></div>


<!-- React latest-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/js/bundle.js"></script>
<script src="/js/materialize.min.js"></script>
</body>
</html>
