html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

.alert-container {
    padding-top: 30px;
}

#content {
    height: 100%;
}

.card-content {
    padding: 10px !important;
}

.no-margin-left {
    margin-right: 0 !important;
}

.main-section {
    padding-top: 75px;
}

.show-x {
    position: absolute !important;
}